In [1]:
#Cargar csv en un Dataframe de Pandas

import pandas as pd
datos=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/tablalimpia.csv")

#Imprimir y visualizar las primeras 5 lineas
print(datos.head(5))

                                                ;;;;
0  Año;Actividad económica;Total n° de empresas;T...
1  2005;Actividades de restaurantes y de servicio...
2  2006;Actividades de restaurantes y de servicio...
3  2007;Actividades de restaurantes y de servicio...
4  2008;Actividades de restaurantes y de servicio...