In [2]:
#Cargar csv en un Dataframe de Pandas

import pandas as pd
datos=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/basededatoslimpia.csv")

#Imprimir y visualizar las primeras 5 lineas
print(datos.head(5))

  Año Comercial;Comuna de la casa matriz;Actividad economica;Número de empresas;Ventas anuales en UF;Renta neta informada en UF  \
0  2019;Las Condes;Restaurantes y de servicio móv...
1  2019;Providencia;Restaurantes y de servicio mó...
2  2019;Santiago;Restaurantes y de servicio móvil...
3  2019;Vitacura;Restaurantes y de servicio móvil...
4  2019;Ñuñoa;Restaurantes y de servicio móvil de...

    trabajadores de género femenino;Renta neta informada en UF  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

    trabajadores de género masculino
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN